.v-record{

    .r-wrapper{
        transform: translate(500px,500px);

        .r-disk{
            fill: black;
        }

        .r-innerDisk{
            fill: rgb(226, 225, 225);
        }
    }
}

.v-records{
    position: absolute;
}

.v-album{

    animation: fadeIn ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }

    padding: 35% 0% 35% 0%;
    width: 350px;
    height: 350px;

    transition: transform 0.8s ease-out;
    transform: scale(1);

    &.r-bigger{
        transition: transform 0.8s ease-out;
        transform: scale(1.3);    
    }
}