.v-record{
    .r-wrapper{
        transform: translate(500px,500px);

        .r-disk{
            fill: black;
        }

        .r-innerDisk{
            fill: rgb(226, 225, 225);
        }
    }
}

.v-album{
  
    padding: 100px;

    img{
        width: 350px;
        height: 350px;

        transition: transform 0.8s ease-out;
        transform: scale(1);
    }

    &.r-bigger{
        img{
            transition: transform 0.8s ease-out;
            transform: scale(1.3);
        }
    }
}