// thanks https://a.singlediv.com/?source=post_page
#vinyl-record-main {
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 60%), linear-gradient(-50deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 60%), repeating-radial-gradient(circle, #0a0a0a 0, #000 2px, #000 2px, #000 4px);
    border-radius: 50%;
    -webkit-box-shadow: -3px -3px 2px rgba(0,0,0,0.2);
    box-shadow: -3px -3px 2px rgba(0,0,0,0.2);
}

#vinyl-record-inner {
    background-color: #f5f5dc;
    background-image: radial-gradient(circle,#333 5px,transparent 5px),-webkit-gradient(linear,left top, left bottom,color-stop(35%, #d2b48c),color-stop(35%, transparent));
    background-image: radial-gradient(circle,#333 5px,transparent 5px),linear-gradient(to bottom,#d2b48c 35%,transparent 35%);
    border-radius: 50%;
}

.v-record{

    width: 50%;
    height: auto;

    padding: 1%;
    animation: fadeIn ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }

    .r-wrapper{
        transform: translate(500px,500px);

        .r-disk{
            fill: black;
        }

        .r-innerDisk{
            fill: rgb(226, 225, 225);
        }

        .r-blur{
            transition: opacity 0.1s ease-out;
            opacity: 0.2;
        }

        .r-end{
            transition: opacity 2s ease-out;
            opacity: 0;
        }

        .r-timeline{
            stroke: #bfbfbf;
            stroke-width: 3px;
            stroke-dasharray: 3px;
        }
        
        .r-time{
            transform: rotate(90deg);
            font-size: 30px;
            fill: rgb(202,153,34);
        }

        .r-label{
            .r-line{
                stroke: #ababab;
                stroke-width: 2px;
            }
        }
        
    }
}