.v-record{
    .r-wrapper{
        transform: translate(500px,500px);

        .r-disk{
            fill: black;
        }

        .r-innerDisk{
            fill: rgb(226, 225, 225);
        }

        .r-blur{
            transition: opacity 0.1s ease-out;
            opacity: 0.2;
        }

        .r-label{
            .r-line{
                stroke: #ababab;
                stroke-width: 2px;
            }
        }
        
    }
}