.v-background{
    background-size: 100%;
    position: fixed;

    animation: blurOut ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


@keyframes blurOut {
    0% {filter: blur(0px);}
    100% {filter: blur(16px);}
 }